
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                  &copy; HackTIVE 2025 
              </span>
              <!--span class="text-muted text-center text-sm-center d-block d-sm-inline-block">
                 by Team Projek Cerok 
              </span-->
              <span class="text-muted float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Version 0.1.0
              </span>
            </div>
          </footer>
          <!-- partial -->