{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/img/hacktive.svg" />

  <style>
    html, body {
      height: 100%;
      margin: 0;
    }

    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
  </style>
{% endblock %}

{% block content %}
<body style="background: linear-gradient(to bottom right, #000000 0%, #1a1a1a 100%)">
  <!--form method="POST" action="#"-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto p-0">
          <div class="card">
            
            <div class="login-box">
            
              <div class="login-snip">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                <label for="tab-1" class="tab">Login</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up">
                <label for="tab-2" class="tab">Sign Up</label>

                <div class="login-space">

                  <!-- Login Form -->
                  <form method="POST" action="#">
                  <div class="login">
                    <div class="group">
                      <label for="login-username" class="label">Email Address</label>
                      <input type="email" name="login-username" id="login-username" class="input" 
                             placeholder="Email address" required autofocus>
                    </div>
                    <div class="group">
                      <label for="login-password" class="label">Password</label>
                      <input name="login-password" id="login-password" type="password" 
                             class="input" placeholder="Enter your password" required>
                    </div>
                    <div class="group">
                      <input id="remember-me" type="checkbox" class="check" name="remember" checked>
                      <label for="remember-me"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                      <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot">
                      <!--a href="#">Forgot Password?</a-->
                    </div>
                  </div>
                  </form>

                  <!-- Sign Up Form -->
                  <form method="POST" action="#">
                  <div class="sign-up-form">
                    <div class="group">
                      <label for="register-username" class="label">Email Address</label>
                      <input name="register-username" id="register-username" type="email" class="input" 
                             placeholder="Enter your email address" required autofocus>
                    </div>
                    <div class="group">
                      <label for="register-password" class="label">Password</label>
                      <input name="register-password" id="register-password" type="password" 
                             class="input" placeholder="Create your password" required>
                    </div>
                    <div class="group">
                      <label for="confirm-register-password" class="label">Repeat Password</label>
                      <input name="confirm-register-password" id="confirm-register-password" type="password" 
                             class="input" placeholder="Repeat your password" required>
                    </div>
                    <div class="group">
                      <input type="submit" class="button" value="Sign Up">
                    </div>
                    <div class="hr"></div>
                    <div class="foot">
                      <!--label for="tab-1">Already Member?</label-->
                    </div>
                  </div>
                  </form>
                
                </div>
              </div>
            </div>    
          </div>
        </div>
      </div>
    </div>
  <!--/form-->
</body>
{% endblock %}