{% extends "/layouts/base.html" %}

{% block header %}
  <h1>{% block title %}Update Research{% endblock %}</h1>
{% endblock %}

{% block content %}


  <div class="container-fluid py-5" style="width: 100%; height: calc(102vh - 66px); overflow: auto;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-9 col-xl-7">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h2 class="text-center my-3 pb-3">User Information Update</h2>

            <form action="" method="post">

              <div class="form-group row mb-4">
                <div class="col-sm-12">
                  <label class="mb-3" for="old-password" style="font-size: medium;">Old Password</label><br>
                  <input name="old-password" id="old-password" type="password" class="form-control" style="font-size: smaller;" value="{{ request.form['old-password'] }}" required>
                </div>
              </div>

              <div class="form-group row mb-4">
                <div class="col-sm-12">
                  <label class="mb-3" for="new-password" style="font-size: medium;">New Password</label><br>
                  <input name="new-password" id="new-password" type="password" class="form-control" style="font-size: smaller;" value="{{ request.form['new-password'] }}" required>
                </div>
              </div>
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary w-25">Submit</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}